<footer class="footer-dark">
        <div class="row">
                <h3>Admin</h3>
                <ul>
                    <li><a href="/admin">Login</a></li>
                    <li><a href="/logout">Log out</a></li>
                </ul>
        </div>
        <p class="copyright">Sabrina © 2024</p>
</footer>