<nav class="navbar">
    <br></br>
        <ul>
            <li class="home">
                <a href="/" class="nav-link">HOME</a>
            </li>
            <li class="admin-login">
                <a href="/admin" class="nav-link">ADMIN LOG IN</a>
            </li>
            
        </ul>
</nav>