@font-face {
    font-family: bingo;
    src: url(BingoHeyhoRegular.otf);
}

:root {
    --primary-color: #30427c;
    --secondary-color: #d6e2f6;
    --text-color: #333;
    --background-color: #fff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    max-width: 800px;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px 5%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--background-color);
    transition: color 0.3s ease;
}

nav li {
    margin: 0 15px;
    font-family: bingo, Arial, sans-serif;
    font-size: 2.5em;
}

nav a:hover {
    color: var(--secondary-color);
}

h1.admin {
    text-align: center;
    font-family: bingo;
    font-size: 5em;
    margin-top: 1%;
    background: linear-gradient(to bottom, rgb(72, 107, 170), rgb(218, 231, 244));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color);
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

input:focus, select:focus {
    border-color: var(--primary-color);
    outline: none;
}

button {
    padding: 10px 20px;
    width: 100%;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: var(--background-color);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5a91d9;
}

.footer-dark {
    padding: 40px 0;
    color: #f0f9ff;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13em;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--background-color);
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.7;
    transition: opacity 0.3s, color 0.3s;
}

.footer-dark ul a:hover {
    opacity: 1;
    color: var(--primary-color);
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
    width: 100%;
}



@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav li {
        margin: 10px 0;
        font-size: 2em;
    }

    .container, .admin-controls {
        width: 95%;
        padding: 10px;
    }

    h1.admin {
        font-size: 3em; 
    }

    .footer-dark .container {
        flex-direction: column;
        align-items: center;
    }
}