@font-face {
    font-family: bingo;
    src: url(BingoHeyhoRegular.otf);
}

:root {
    --primary-color: #30427c;
    --secondary-color: #d6e2f6;
    --text-color: #333;
    --background-color: #fff;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    color: var(--text-color);
    text-align: center;
    margin-top: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px 5%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--background-color);
}

nav li {
    margin: 0 15px;
    font-family: bingo;
    font-size: 2.5em;
}

button {
    padding: 10px 20px; 
    background-color: rgb(178, 218, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: var(--text-color);
    margin: 10px 0; 
}

button:hover {
    background-color: rgb(150, 200, 255);
}

form {
    background-color: var(--background-color);
    width: 90%; 
    max-width: 800px;
    margin: 20px auto;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    resize: vertical;
    min-height: 150px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #678ee2;
}

/* Back button styles */
.back {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 15px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.back a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
}

.back:hover {
    background-color: #e0e0e0;
}

/* Responsive styles */
@media (max-width: 768px) {
    nav li {
        font-size: 2em;
    }

    h1 {
        font-size: 2.5em;
    }

    form {
        padding: 20px; 
    }
}