<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/admin.css">
    <title>Login</title>
</head>
<body>
    <%- include('../partials/header')%>
    <h1 class="admin">Login</h1>
    <form class="container" action="/admin" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>

    <%- include('../partials/footer')%>
</body>
</html>